services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Videni\Bundle\RestBundle\Processor\Shared\SaveResource:
        tags:
            - { name: videni_rest.processor, action: create, group: save, priority: 10 }
            - { name: videni_rest.processor, action: update, group: save, priority: 10 }

    Videni\Bundle\RestBundle\Processor\Shared\LoadResource:
        arguments: ['@service_container']
        tags:
            - { name: videni_rest.processor, action: view, group: initialize, priority: 10 }
            - { name: videni_rest.processor, action: update, group: initialize, priority: 10 }
            - { name: videni_rest.processor, action: delete, group: initialize, priority: 10 }

    Videni\Bundle\RestBundle\Processor\Shared\ValidationProcessor:
        tags:
            - { name: videni_rest.processor, action: create, group: validate, priority: 10 }
            - { name: videni_rest.processor, action: update, group: validate, priority: 10 }

    Videni\Bundle\RestBundle\Processor\Shared\PermissionProcessor:
        tags:
            - { name: videni_rest.processor, action: create, group: security, priority: 10 }
            - { name: videni_rest.processor, action: update, group: security, priority: 10 }
            - { name: videni_rest.processor, action: view, group: security, priority: 10 }

    Videni\Bundle\RestBundle\Processor\Shared\DeserializationProcessor:
        arguments: ['@jms_serializer']
        tags:
            - { name: videni_rest.processor, action: create, group: deserialize, priority: 10 }
            - { name: videni_rest.processor, action: update, group: deserialize, priority: 10 }

# build query
    Videni\Bundle\RestBundle\Processor\Shared\RegisterConfiguredFilter:
        arguments:
            - '@Videni\Bundle\RestBundle\Filter\Factory\FilterFactoryInterface'
            - '@Videni\Bundle\RestBundle\Util\DoctrineHelper'
            - '@Videni\Bundle\RestBundle\Config\Paginator\PaginatorConfigProvider'
        tags:
            - { name: videni_rest.processor, action: index, group: initialize, priority: -50 }
            - { name: videni_rest.processor, action: bulk_delete, group: initialize, priority: 50 }

    Videni\Bundle\RestBundle\Processor\Shared\InitializeCriteria:
        tags:
            - { name: videni_rest.processor, action: index, group: build_query, priority: 100 }

    Videni\Bundle\RestBundle\Processor\Shared\AddSorting:
        arguments:
            - '@Videni\Bundle\RestBundle\Util\DoctrineHelper'
        tags:
            - { name: videni_rest.processor, action: index, group: build_query, priority: 80 }

    Videni\Bundle\RestBundle\Processor\Shared\AddPaging:
        tags:
            - { name: videni_rest.processor, action: index, group: build_query, priority: 80 }

    Videni\Bundle\RestBundle\Processor\Shared\ValidateSorting:
        tags:
            - { name: videni_rest.processor, action: index, group: build_query, priority: 60 }

    Videni\Bundle\RestBundle\Processor\Shared\BuildCriteria:
        tags:
            - { name: videni_rest.processor, action: index, group: build_query, priority: 50 }
            - { name: videni_rest.processor, action: bulk_delete, group: build_query, priority: 50 }

    Videni\Bundle\RestBundle\Processor\Shared\BuildQuery:
        tags:
            - { name: videni_rest.processor, action: index, group: build_query, priority: 40 }
            - { name: videni_rest.processor, action: bulk_delete, group: build_query, priority: 40 }

    Videni\Bundle\RestBundle\Processor\Shared\LoadResources:
        tags:
            - { name: videni_rest.processor, action: index, group: load_resources, priority: 40 }


