imports:
    - { resource: 'routing.yaml'}
    - { resource: 'extractor.yaml'}
    - { resource: 'serializer.yaml'}
    - { resource: 'controller.yaml'}
    - { resource: 'security.yaml'}
    - { resource: 'filters.yaml'}
    - { resource: 'config.yaml'}
    - { resource: 'processor.yaml'}

parameters:
    app_rest.resource_class_directories:
        - "%kernel.project_dir%/config/packages/videni_resources"

    app_rest.formats:
        json:
            mime_types: 'application/json'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Oro\Component\ChainProcessor\ProcessorBagConfigProvider:
        public: false
        arguments:
            - [] # groups; they are set by App\Bundle\RestBundle\DependencyInjection\Compiler\ProcessorBagCompilerPass
            - [] # processors; they are set by App\Bundle\RestBundle\DependencyInjection\Compiler\ProcessorBagCompilerPass

    Oro\Component\ChainProcessor\Debug\TraceLogger:
        public: false
        arguments:
            - 'data_api'
            - '@?debug.stopwatch'

    App\Bundle\RestBundle\Faker\EntityProvider:
        arguments:
            - '@doctrine.orm.entity_manager'
        tags:
            - { name: 'nelmio_alice.faker.provider' }

    App\Bundle\RestBundle\Factory\ResourceFactory: ~

    App\Bundle\RestBundle\Factory\ParametersParser:
        arguments: ['@service_container', '@App\Bundle\RestBundle\ExpressionLanguage\ExpressionLanguage']

    App\Bundle\RestBundle\Factory\ParametersParserInterface: '@App\Bundle\RestBundle\Factory\ParametersParser'

    App\Bundle\RestBundle\ExpressionLanguage\ExpressionLanguage: ~

    App\Bundle\RestBundle\Processor\OptimizedProcessorBag:
        arguments:
            - '@Oro\Component\ChainProcessor\ProcessorBagConfigProvider'
            - '@Oro\Component\ChainProcessor\ChainProcessorFactory'
            - '%kernel.debug%'
            - '@App\Bundle\RestBundle\Processor\ProcessorApplicableCheckerFactory'
            - '@App\Bundle\RestBundle\Processor\OptimizedProcessorIteratorFactory'
            - '@App\Bundle\RestBundle\Processor\ProcessorApplicableCheckerWithoutGroupsFactory'
            - '@Oro\Component\ChainProcessor\ProcessorIteratorFactory'

    Oro\Component\ChainProcessor\ChainProcessorFactory:
        public: false
        calls:
            - [addFactory,  ['@Oro\Component\ChainProcessor\SimpleProcessorFactory', 10]]
            - [addFactory,  ['@Oro\Component\ChainProcessor\DependencyInjection\ProcessorFactory']]

    Oro\Component\ChainProcessor\SimpleProcessorFactory: ~

    Oro\Component\ChainProcessor\DependencyInjection\ProcessorFactory:
        arguments:
            - '@service_container'

    App\Bundle\RestBundle\Processor\OptimizedProcessorIteratorFactory: ~

    Oro\Component\ChainProcessor\ProcessorIteratorFactory: ~

    App\Bundle\RestBundle\Processor\ProcessorApplicableCheckerFactory: ~

    App\Bundle\RestBundle\Processor\ProcessorApplicableCheckerWithoutGroupsFactory: ~

    App\Bundle\RestBundle\Util\DoctrineHelper: ~

    App\Bundle\RestBundle\Validator\Validator:
        arguments: ['@validator', '@service_container']

    App\Bundle\RestBundle\Validator\ValidatorInterface: '@App\Bundle\RestBundle\Validator\Validator'

    App\Bundle\RestBundle\Handler\DeleteHandler: ~
    App\Bundle\RestBundle\Handler\DeleteHandlerInterface: '@App\Bundle\RestBundle\Handler\DeleteHandler'

    App\Bundle\RestBundle\Util\CriteriaConnector:
        public: false
        arguments:
            - '@App\Bundle\RestBundle\Util\CriteriaNormalizer'
            - '@App\Bundle\RestBundle\Util\CriteriaPlaceholdersResolver'
            - '@App\Bundle\RestBundle\Collection\QueryExpressionVisitorFactory'
            - '@App\Bundle\RestBundle\Util\EntityClassResolver'

    App\Bundle\RestBundle\Util\CriteriaNormalizer:
        public: false
        arguments:
            - '@App\Bundle\RestBundle\Util\DoctrineHelper'
            - '@App\Bundle\RestBundle\Util\RequireJoinsFieldVisitorFactory'
            - '@App\Bundle\RestBundle\Util\OptimizeJoinsFieldVisitorFactory'

    App\Bundle\RestBundle\Util\CriteriaPlaceholdersResolver:
        class: App\Bundle\RestBundle\Util\CriteriaPlaceholdersResolver
        public: false

    App\Bundle\RestBundle\Util\RequireJoinsFieldVisitorFactory:
        public: false
        arguments:
            - '@App\Bundle\RestBundle\Util\RequireJoinsDecisionMaker'

    App\Bundle\RestBundle\Util\RequireJoinsDecisionMaker:
        class: App\Bundle\RestBundle\Util\RequireJoinsDecisionMaker
        public: false

    App\Bundle\RestBundle\Util\OptimizeJoinsFieldVisitorFactory:
        class: App\Bundle\RestBundle\Util\OptimizeJoinsFieldVisitorFactory
        public: false
        arguments:
            - '@App\Bundle\RestBundle\Util\OptimizeJoinsDecisionMaker'

    App\Bundle\RestBundle\Util\OptimizeJoinsDecisionMaker:
        class: App\Bundle\RestBundle\Util\OptimizeJoinsDecisionMaker
        public: false

    App\Bundle\RestBundle\Util\EntityClassResolver: ~


